{% extends 'layout.html.twig' %}
{% block title %}Items{% endblock %}
{% block content %}
<section>
    <h1>Items</h1>
    <ul>
        {% for item in items %}
        <li>{{ item.title }}</li>
        {% endfor %}
    </ul>

    <a href='/'>Back to list<br></a>
    <a href='/item/add'>Ajouter</a>

</section>
{% endblock %}

