{% extends 'layout.html.twig' %}
{% block title %}Item{% endblock %}
{% block content %}
<main>
    <h1>{{ item.title }}</h1>
    <ul>
        <li>{{ item.id }}</li>
    </ul>
    <a href='/'>Back to list</a>

    <a href="/item/edit/{{ item.id }}">Edit</a>
    <a href="/item/delete/{{item.id}}">Supprimer</a>
    <a href="/">Back</a>
</main>
{% endblock %}
